[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
django = "*"
django-crontab = "*"
djangorestframework = "*"
selenium = "*"
lxml = "*"

[dev-packages]
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
