[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
django = "*"
django-crontab = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
