<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hangang</title>

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="../static/index.css">

  <!-- JS -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="../static/index.js"></script>
</head>
<body>
  <div id="select-coin-menu">
    <div class="black_out"></div>
    <div class="coin_list">
      {% for coin in ten_coins %}
      <div><input type="radio" name="coin" id="{{ coin.id }}" class="coin_pk_list"> <label for="{{ coin.id }}">{{ coin.get_name_display }}</label></div>
      {% endfor %}
      <button type="button" name="button" id="coin_select_submit">전송</button>
    </div>
  </div>

  <div class="coin_text">
    <p>{{ btc_coinValue.coin.get_name_display }}</p>
  </div>
  <div class="flex_center">
    <div class="center_coin">
      <div class="before_coin_value">
        <p>Before BitCoin Price: {{ btc_coinValue.before_value }}</p>
      </div>
      <div class="current_coin_value">
        <p>Current BitCoin Price: {{ btc_coinValue.now_value }}</p>
      </div>
    </div>
    <div class="right_coin_percent">
      <span class="arrow"><i class="fas fa-sort-down"></i></span>
      <p class="percent">{{ btc_coinValue.percent }}%</p>
    </div>
  </div>
  <div class="say_something">
    <p>한강물은 어떠한가</p>
  </div>

  <button id="select-coin">
    <div></div>
    <div></div>
    <div></div>
  </button>
</body>
<script>
$(function() {
  $('#coin_select_submit').click(function() {
    var selectCoinId = $('.coin_pk_list:checked').attr('id')



    $.ajax({
        type: "GET",
        url: "http://127.0.0.1:8000/apis/list/"+selectCoinId+'/',
        success: function(data) {
          console.log(data)
          $target = $('#select-coin-menu')
          $target.css('display', 'none')

          $coin_text = $('.coin_text p')
          $before_coin_value = $('.before_coin_value p')
          $current_coin_value =$('.current_coin_value p')

          $arrow_p = $('.arrow .percent')

          $coin_text.text(data.coin.get_name_display)
          $before_coin_value.text('Before BitCoin Price: ' + data.before_value)
          $current_coin_value.text('Current BitCoin Price: ' + data.now_value)
          $arrow_p.text(data.percent)
        }
    })
  })
})
</script>
</html>
