<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hangang</title>
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <section class="center_coin">
    <section class="before_coin_value">
      <p>Before BitCoin Price: 3999원</p>
    </section>
    <section class="current_coin_value">
      <p>Current BitCoin Price: 4000원</p>
    </section>
  </section>
  <section class="right_coin_percent">
    <span class="arrow"></span>
    <p class="percent">35%</p>
  </section>
</body>
</html>
